@import './variables'

html, body, div, section, nav, header, footer, aside, ul, li, ol, form, button,
img, span, input, textarea, select, option, small, strong, em, svg, a,
h1, h2, h3, h4, h5, h6, p
  margin 0
  padding 0
  border none
  outline none
  box-sizing border-box


body, div, section, aside, nav, header, footer, ul, ol, form
  display flex


html
  width 100%
  height 100%
  font-size 62.5%


body
  font-size 1.6rem // 16px
  font-family 'Lato', sans-serif
  font-weight 300
  line-height 1.45
  color black
  width 100%
  height 100%


a
  color black
  text-decoration none


a:active
  color black

a:hover
  background #B7B7E5

a:

a:visited
  color black


h1
  font-size 3.8rem


h2
  font-size 3.2rem


#root
  width 100%
