@import '../../styles/variables'
@import '../../styles/mixins'
@import '../../styles/grid'

.NavBar
  width 100%
  background #94E8B4

.NavBar nav
  height 60px
  row(between, center)
  contain(100%, 992px)
  marginCenter()
  pr(10px)
  pl(10px)

#logo
  font-size 2.6rem

#nav-links
  position absolute
  font-size 1.2rem
  column(end, center)
  top -350px
  right 25px
  padding 10px 20px
  transition 1s
  box-shadow 0px 2px 5px rgba(0, 0, 0, 0.25)

  &.down
    top 75px



#nav-links li
  list-style-type none
  font-size 4rem
  margin-bottom: 20px

#expand-icon
  width 35px



@media screen and (min-width: 768px)
  #nav-links
    position static
    row(end, center)
    box-shadow none

  #nav-links li
    margin-left 15px
    font-size 2rem
    margin-top 0px
    margin-bottom 0px


  #expand-icon
    display none
