@import '../../styles/variables'
@import '../../styles/mixins'
@import '../../styles/grid'

.PasswordRecovery
  contain(90%, 520px)
  column(start, start)
  marginCenter()

.PasswordRecovery form
  column(center, center)
  width 100%

.PasswordRecovery h3
  mb(10px)

.PasswordRecovery form input
  border 1px solid rgba(0,0,0,0.1)
  padding 15px 20px
  margin-bottom 20px
  font-size 2rem
  width 80%

.PasswordRecovery form p
  mb(10px)
